<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.microsoft.intunemam</string>
				<string>msauth.com.microsoft.intunemam-intunemam</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https-intunemam</string>
		<string>http-intunemam</string>
		<string>microsoft-edge-https</string>
		<string>microsoft-edge-http</string>
		<string>ms-outlook</string>
		<string>companyportal</string>
		<string>smart-ns</string>
		<string>zips</string>
		<string>lacoonsecurity</string>
		<string>wandera</string>
		<string>lookoutwork-ase</string>
		<string>skycure</string>
		<string>betteractiveshield</string>
		<string>smsec</string>
		<string>mvisionmobile</string>
		<string>scmx</string>
		<string>intunemam-mtd</string>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
